body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.active{
    color: lightgrey;
    text-decoration: bold;
}

main {
    padding: 20px;
}

.instagram-embed {
    margin-bottom: 20px;
    display:inline-block;
}

.instagram-embed blockquote {
    width: 100%;
    height: auto;
    min-height: 400px; /* Adjust as needed */
}

@media (max-width: 600px) {
    .instagram-embed blockquote {
        min-height: 200px; /* Adjust for smaller screens */
    }
}